.searchBox {
  position: relative;
  margin-left: 30px;
}
.searchBox .searchBoxInput {
  min-width: 450px;
  max-width: 580px;
  padding: 8px 30px 10px 40px;
  border-radius: 5px;
  position: relative;
  background-color: #fcfbfb;
  border: 1px solid rgb(187, 184, 184);
}
.searchBox .searchBoxInput:focus {
  outline: none;
}
